body {
    background-color: rgb(212, 154, 163);
}
#keys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-image: url("background-img/fondo.png");
    width: 557px;
    height: 322px;
    position: relative;
    margin: 12% 15% 15% 30%;
    opacity: 0.9;
    border-radius: 10px;
}

.key {
    margin: 0 4.5% 0 4.5%;
    width: 80px;
    height: 80px;
    opacity: 0.7;
    border: 3px solid grey;
    border-radius: 5px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: lightyellow;
    text-align: center;
    transition: all 0.07s;

}

.inst {
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 1em;
    color: rgb(247, 159, 174);
    font-weight: bold;
}

.char {
    font-family: monospace;
    text-transform: uppercase;
    margin-bottom: 0.4em;
    font-size: 1.35em;
    color: rgb(68, 68, 68);
}

.playing {
    scale: 1.2;
    border-color: goldenrod;
    box-shadow: 0 0 1.5px 1.5px goldenrod;
}

